## PYTHON BASIC DATATYPES ASSIGNMENT

1. Write a program to reverse a string.

In [5]:
string = 'pwskills'
reverse_str = string[::-1]
print("Reversed string is : " , reverse_str);

Reversed string is :  sllikswp

2. Check if a string is a palindrome.

In [7]:
string = 'abba'
reversed_str = string[::-1]
if string == reversed_str:
    print("Provided string is a palindrone");

Provided string is a palindrone

3. Convert a string to uppercase.

In [9]:
string = 'pwskills'
conv_upper = string.upper()
print('Uppercase of the given string is : ',conv_upper)

Uppercase of the given string is :  PWSKILLS

4. Convert a string to lowercase.

In [15]:
string = 'Pwskills'
conv_lower = string.lower()
print('Lowercase of the given string is : ',conv_lower)

Lowercase of the given string is :  pwskills

5. Count the number of vowels in a string.

In [35]:
string = 'pwskillkeios'
vowels = set('aeiou')
string= string.lower()
vw_count =0
for ch in string:
    if ch in vowels:
        vw_count = vw_count+1
    else:
        continue
        
        
print('vowels in a given string is ',vw_count)

vowels in a given string is  4

6. Count the number of consonants in a string.

In [34]:
string = 'pwskillkeios'
string= string.lower()
vowels = set('aeiou')
cons_count =0
for ch in string:
    if ch not in vowels:
        cons_count = cons_count+1
    else:
        continue
        
        
print('vowels in a given string is ',cons_count)

vowels in a given string is  8

7. Remove all whitespaces from a string.

In [38]:
string = '  pwskil  ls ' 
new_str=''
for ch in string:
    if ch != ' ':
        new_str = new_str + ch
    else:
        continue
print('new string is :',new_str)

new string is : pwskills

8. Find the length of a string without using the `len()` function.

In [40]:
string = 'pwskills'
length =0
for i in string:
    length = length+1
print('length of string is :',length)

length of string is : 10

9. Check if a string contains a specific word.

In [44]:
string = 'pwskills'
word = 'pwi'
if word in string:
    print('word is present')
else:
    print('word is not present')

word is not present

10. Replace a word in a string with another word.

In [49]:
string = 'pwskills is good edtech company '
choose_word = 'company'
replace_with ='organisation'
string.replace(choose_word,replace_with)

'pwskills is good edtech organisation '

11. Count the occurrences of a word in a string.

In [53]:
string = 'pwskills provides a lots of courses at a very affordable prices ' 
word = 'provides'
word_occourences = string.count(word)
print(f'word appears in string {word_occourences} times')

word appears in string 1 times

12. Find the first occurrence of a word in a string.

In [57]:
string = 'pwskills provides a lots of courses at a very affordable prices ' 
word = 'provides'
first_occourences = string.find(word)
print(f'word first appears in string at index :  {first_occourences} ')

word first appears in string at index :  9

13. Find the last occurrence of a word in a string.

In [63]:
string = 'pwskills provides a lots of courses at a very affordable prices ' 
word = 'provides'
last_occourences = string.rfind('provides')
print(f'word last appears in string at index :  {last_occourences} ')

word last appears in string at index :  9

14. Split a string into a list of words.

In [65]:
string = 'pwskills is great'
split_list = string.split()
print('list of word is : ', split_list)

list of word is :  ['pwskills', 'is', 'great']

15. Join a list of words into a string.

In [72]:
list_words = ['pwskills', 'is', 'great']
string = ''
for word in list_words:
      string = string+' '+word
string= string.lstrip()
print('string generated from a lists of words is : ', string)

string generated from a lists of words is :  pwskills is great

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [74]:
string = 'pwskills provides great facilities'
string.replace(' ','_')

'pwskills_provides_great_facilities'

17. Check if a string starts with a specific word or phrase.

In [87]:
string = 'pwskills provides great facilities'
word_or_phrases='pwskills provides'
result = string.startswith(word_or_phrases)
print(f'Is string starts with given word or phrase: {result}')

Is string starts with given word or phrase: True

18. Check if a string ends with a specific word or phrase.

In [88]:
string = 'pwskills provides great facilities'
word_or_phrases='facilities'
result = string.endswith(word_or_phrases)
print(f'Is string ends with given word or phrase: {result}')

Is string ends with given word or phrase: True

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [90]:
string = 'hello world'
conv_title = string.title()
print('converted string is :',conv_title)

converted string is : Hello World

20. Find the longest word in a string.

In [3]:
string = 'pwskills provides facilities'
lst_split = string.split()
max_length= 0
max_len_word =''
for word in lst_split :
    
    if len(word) > max_length:
            max_length = len(word)
            max_len_word = word
    else : 
        continue
print('max_length word is ', max_len_word)

max_length word is  greatestoffall

21. Find the shortest word in a string.

In [12]:
string = 'pwskills provides a great facilities'
lst_split = string.split()
min_length= 1000
min_len_word=''
for word in lst_split :
    if len(word) < min_length:
            min_length = len(word)
            min_len_word = word
    else : 
        continue
print('min_length word is : ', min_len_word)

min_length word is :  a

22. Reverse the order of words in a string.

In [22]:
string = 'My name is Rohit'
lst_string = string.split()
reverse_order = lst_string[::-1]
new_string=''
for word in reverse_order: 
    new_string = new_string+' '+ word
print( 'Reverse order of words in given string is :',new_string)

Reverse order of words in given string is :  Rohit is name My

23. Check if a string is alphanumeric.

In [31]:
string = 'Rohit123' 
alpha_numeric = string.isalnum()
print(f'The given string {string} is alpha numeric : {alpha_numeric}')

The given string Rohit123 is alpha numeric : True

24. Extract all digits from a string.

In [37]:
string = 'Rohit Kumar12 and 34'
lst =[]
for ch in string:
    if ch.isdigit():
        lst.append(ch)
print('Extracted digits from the strings are : ', lst)

Extracted digits from the strings are :  ['1', '2', '3', '4']

25. Extract all alphabets from a string.

In [49]:
string = 'pwskills provides a great facilities'
string =string.lower()
lst =[]
for ch in string:
    if ch.isalpha():
        lst.append(ch)
    else:
        continue
alpha = set(lst)
print('All alphabets present in given strings are: ', alpha)

All alphabets present in given strings are:  {'s', 'l', 'v', 'i', 'g', 'e', 'a', 't', 'f', 'w', 'c', 'o', 'r', 'p', 'd', 'k'}

26. Count the number of uppercase letters in a string.

In [54]:
string='Pwskills Provides A Great Facilities'
count=0
for ch in string:
    if ch.isupper():
        count= count+1
    else:
        continue
print('Total uppercase letter in string is :',count)

Total uppercase letter in string is : 5

27. Count the number of lowercase letters in a string.

In [55]:
string='Pwskills Provides A Great Facilities'
count=0
for ch in string:
    if ch.islower():
        count= count+1
    else:
        continue
print('Total lowercase letter in string is :',count)

Total lowercase letter in string is : 27

28. Swap the case of each character in a string.

In [57]:
string='Pwskills Provides A Great Facilities'
new_str=''
for ch in string:
    if ch.isupper():
        new_str = new_str+ch.lower()
    elif ch.islower():
        new_str = new_str+ch.upper()
    else:
        new_str=new_str+ch
print('swapped case of each character in string is : ',new_str)

swapped case of each character in string is :  pWSKILLS pROVIDES a gREAT fACILITIES

In [59]:
string='Pwskills Provides A Great Facilities'
word = 'Great'
new_str = string.replace(word,'')
new_str

'Pwskills Provides A  Facilities'

30. Check if a string is a valid email address.

In [60]:
import re  # Import the regular expression module

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  # Regular expression pattern for a basic email validation
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "example@email.com"
email2 = "invalid-email"
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

31. Extract the username from an email address string.

In [2]:
email = 'anyone@gmail.com'
username = email.split('@')
print('username is : ' , username[0])

username is :  anyone

32. Extract the domain name from an email address string.

In [6]:
email = 'anyone@gmail.com'
domain_name = email.split('@')
print('domain name is : ' , domain_name[1])

domain name is :  gmail.com

33. Replace multiple spaces in a string with a single space.

In [10]:
string = 'hello      everyone   how are    you ' 
string_lst = string.split()
new_string = ' '.join(string_lst)
new_string

'hello everyone how are you'

34. Check if a string is a valid URL.

In [4]:
import re
def valid_url(pattern,string):
    if re.match(pattern,string):
        return "String is a valid url"
    else:
        return "String is not a valid url"

pattern = 'https:\/\/[^\.]+\.com\/|https:\/\/[^\.]+\.com'
string = 'https://google.com/'

valid_url(pattern,string)

'String is not a valid url'

35. Extract the protocol (http or https) from a URL string.

In [31]:
def extracting_protocol(url):
    pattern_end_index = url.find('://')
    if pattern_end_index!=-1:
        protocol = url[:pattern_end_index]
        return protocol
    else:
        return None
url = 'https://google.com'
extracting_protocol(url)

'https'

36. Find the frequency of each character in a string.

In [41]:
string = 'I am the one who discover the world'
def char_freq(string):
    frequency = {}
    for char in string:
        if char in frequency:
            frequency[char]+=1
        else:
            frequency[char] = 1
    return frequency
dict_freq = char_freq(string)
for char,count in dict_freq.items():
    print(f'{char} occours {count} times')

I occours 1 times
  occours 7 times
a occours 1 times
m occours 1 times
t occours 2 times
h occours 3 times
e occours 4 times
o occours 4 times
n occours 1 times
w occours 2 times
d occours 2 times
i occours 1 times
s occours 1 times
c occours 1 times
v occours 1 times
r occours 2 times
l occours 1 times

37. Remove all punctuation from a string.

In [56]:
string = 'Hello ,world'
pattern = '''[^,;.'":?]'''
new_str = ''.join(re.findall(pattern,string))
new_str

'Hello world'

38. Check if a string contains only digits.

In [66]:
string = '1 you and 2'
if string.isdigit():
    print('Yes string contain only digits')
else:
    print('No string does not contain only digits')

No string does not contain only digits

40. Convert a string to a list of characters.

In [71]:
string = 'Hello world '

lists= list(string)
lists

['H', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd', ' ']

41. Check if two strings are anagrams.

In [10]:
string1 = 'listen'
string2 = 'silent'
string3 = 'hello'
string4 = 'world'

def anagrams(string1,string2):
    string_one = string1.replace(' ','').lower()
    string_two = string2.replace(' ','').lower()
    string_one = sorted(string_one)
    string_two = sorted(string_two)
    if string_one == string_two:
        return 'Both given string are anagrams' 
    else:
        return 'not a anagrams'
    
    
anagrams(string3,string4)

'not a anagrams'

42. Encode a string using a Caesar cipher.

In [22]:
def caser_cipher(string,shift):
    encoded_text =''
    for i in string:
        if i.isalpha():
             encoded_char = chr((ord(i)+shift - ord('a')) % 26 + ord('a'))
        else:
             encoded_char = i
        encoded_text=encoded_text+encoded_char
    return encoded_text
caser_cipher('hello dost',3)

'khoor grvw'

43. Decode a Caesar cipher encoded string.

In [24]:
def decode_caser_cipher(string,shift):
    encoded_text =''
    for i in string:
        if i.isalpha():
             encoded_char = chr((ord(i)-shift - ord('a')) % 26 + ord('a'))
        else:
             encoded_char = i
        encoded_text=encoded_text+encoded_char
    return encoded_text
decode_caser_cipher('khoor grvw',3)

'hello dost'

44. Find the most frequent word in a string.

In [76]:
def freq_of_word(string):
    frequency ={}
    max = 0
    most_common_li = []
    lst1 = string.lower().split()
    for word in lst1 :
        if word in frequency:
            frequency[word] +=1
        else:
            frequency[word]=1
    for i in frequency:
        if frequency[i]>max:
            max=frequency[i]
            most_common_li.append(i)
        
        else:
            continue

    return most_common_li[-1]  


strings = "Hello world, hello there! How's the world?"
print(f'Most frequent word in string is: {freq_of_word(strings)}')

Most frequent word in string is: hello

45. Find all unique words in a string.

In [12]:
string = 'hi hi how are you hi how  Hi' 
string = string.lower().split()
unique_words = []
for word in string:
    if string.count(word)>1:
        continue
    else:
        unique_words.append(word)
unique_words

['are', 'you']

46. Count the number of syllables in a string.

In [ ]:
47. Check if a string contains any special characters.

In [30]:
import re
pattern = '[^a-zA-Z\s\d]'
string1 = "Hello world"
string2 = "This is a test."
string3 = "Special@Characters"
def cont_special_char(pattern , string):
    if re.findall(pattern,string):
        return 'The given string contain special character'
    else:
        return 'The given string does not contain any special character'

cont_special_char(pattern,string2)

'The given string contain special character'

48. Remove the nth word from a string.

In [41]:
string = "This is an example sentence to test the function."
def remove_n(string,n):
    lst = string.split()
    lst.pop(n)
    new_str = ' '.join(lst)
    return new_str
remove_n(string,1)

'This an example sentence to test the function.'

49. Insert a word at the nth position in a string.

In [44]:
def insert_n(string,n,value):
    lst = string.split()
    lst.insert(n,value)
    new_str = ' '.join(lst)
    return new_str

string = "This is an example sentence to test the function."
value='amazing'
insert_n(string,3,value)

'This is an amazing example sentence to test the function.'

50. Convert a CSV string to a list of lists.

In [67]:
def csv_to_lst(string):
    lst = string.split('\n')
    lst3=[]
    for i in lst:
        lst2 = i.split()
        lst3.append(lst2)
    return lst3
    
csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"
lsts = csv_to_lst(csv_data)
for row in lsts:
    print(row)

['Name,', 'Age,', 'Country']
['John,', '25,', 'USA']
['Alice,', '30,', 'Canada']
['Bob,', '22,', 'UK']

# Lists bases practice problem

1. Create a list with integers from 1 to 10.

In [1]:
lis1= [1,2,3,4,5,6,7,8,9,10]
lis1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
def create_list(start, end):
    lis=[]
    for i in range(start,end):
        lis.append(i)
    return lis
create_list(1,11)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [6]:
def len_list(lis):
    length = 0
    for i in lis:
        length+=1
    return length
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
len_list(lis)

10

3. Append an element to the end of a list.

In [10]:
lis = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lis.append(11)
lis

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 11]

4. Insert an element at a specific index in a list.

In [16]:
lis2 = [1,2,3,4,5,6,8,9,10]
value = 7
index= 6
lis2.insert(index,value)

In [17]:
lis2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [33]:
lis2 = [1,2,3,4,5,6,7,8,9]
lis2.remove(5)

In [34]:
lis2

[1, 2, 3, 4, 6, 7, 8, 9]

6. Remove an element from a list by its index.

In [35]:
lis3 = [1,2,3,4,5,6,7,8,9]
index =5
lis3.pop(index)
lis3

[1, 2, 3, 4, 5, 7, 8, 9]

7. Check if an element exists in a list.

In [38]:
def elem_exist(lis,elem):
    for i in lis:
        if i==elem:
            return 'element exist'
            
        else:
            continue
    return 'element does not exist'        

lis4 = [1,2,3,4,5,6,7,8,9]
elem_exist(lis4,7)

'element exist'

8. Find the index of the first occurrence of an element in a list.

In [42]:
lis4 = [1,2,3,4,5,6,7,8,9]
element = 4
index = lis4.index(element)
print('Element first occoured at index : ',index)

Element first occoured at index :  3

9. Count the occurrences of an element in a list.

In [48]:
lis4 = [1,2,3,4,5,6,5,5,8,8,8,7,8,9]
elem = 8
count = lis4.count(elem)
print(f'Element occoured in given list : {count} times')

Element occoured in given list : 4 times

10. Reverse the order of elements in a list.

In [50]:
lis5 = [1,2,3,4,5,6,7,8,9,10]
rev_lis5 = lis5[::-1]
rev_lis5

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [56]:
lis5 = [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
lis5.sort()
lis5

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

12. Sort a list in descending order.

In [57]:
lis5 =[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lis5.sort(reverse = True)
lis5

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [64]:
def even_list(start,end):
    li=[]
    for i in range(start-1,end+1,2):
            li.append(i)
    return li[1:]
even_list(1,20)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [66]:
def even_lists(start,end):
    li=[]
    for i in range(start,end+1):
        if i % 2 == 0:
            li.append(i)
        else:
            continue
    return li
even_lists(1,20)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [68]:
def odd_lists(start,end):
    li=[]
    for i in range(start,end+1):
        if i % 2 != 0:
            li.append(i)
        else:
            continue
    return li
odd_lists(1,20)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [70]:
def sum_list(lis):
    sumi = 0
    for i in lis:
        sumi = sumi + i
    return sumi
lis5 = [1,2,3,4,5,6,7,8]
sum_list(lis5)

36

16. Find the maximum value in a list.

In [72]:
def max_list(lis):
    maxi = -223
    for i in lis:
        if i > maxi:
            maxi = i 
        else:
            continue
    return maxi
llis5 = [1,2,3,4,5,6,7,8]
max_list(lis5)

8

17. Find the minimum value in a list.

In [75]:
def min_list(lis):
    mini = 100000
    for i in lis:
        if i < mini:
            mini =  i 
        else:
            continue
    return mini
llis5 = [1,2,3,4,5,6,7,8]
min_list(lis5)

1

18. Create a list of squares of numbers from 1 to 10.

In [76]:
def square_list(start,end):
    li = []
    for i in range(start,end+1):
        li.append(i**2)
    return li
square_list(1,10)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [79]:
import random
def rand_list(n):
    li = []
    for i in range(n):
        li.append(random.random())
    return li
rand_list(10)

[0.6962720937842133,
 0.8062694605396971,
 0.20303335270425338,
 0.14210143379738305,
 0.4425567802025451,
 0.11051454736960076,
 0.37028127162423863,
 0.04425612616640484,
 0.31212899810139016,
 0.03408204956980587]

20. Remove duplicates from a list.

In [84]:
def dup_remove(lis):
    set_lis = set(lis)
    lis = list(set_lis)
    return lis

lis5 = [1,2,1,2,1,3,4,2,3,5,6]
dup_remove(lis5)

[1, 2, 3, 4, 5, 6]

21. Find the common elements between two lists.

In [2]:
def common_element(lis1,lis2):
    set_lis1 = set(lis1)
    set_lis2  = set(lis2)
    new_set = set_lis1.intersection(set_lis2)
    li = list(new_set)
    return li

lis1 = [12,3,4,5,4,7]
lis2 = [1,4,5,7,8,9,0,90]
print(f'common elements b/w two given lists are : {common_element(lis1,lis2)}')

common elements b/w two given lists are : [4, 5, 7]

22. Find the difference between two lists.

In [3]:
def difference_element(lis1,lis2):
    set_lis1 = set(lis1)
    set_lis2  = set(lis2)
    new_set = set_lis1.difference(set_lis2)
    li = list(new_set)
    return li

lis1 = [12,3,4,5,4,7]
lis2 = [1,4,5,7,8,9,0,90]
print(f' difference b/w two given lists are : {difference_element(lis1,lis2)}')

 difference b/w two given lists are : [3, 12]

23. Merge two lists.

In [5]:
lis1= [12,3,4,5,4,7]
lis2 = [1,4,5,7,8,9,0,90]

lis1.extend(lis2)
lis1

[12, 3, 4, 5, 4, 7, 1, 4, 5, 7, 8, 9, 0, 90]

24. Multiply all elements in a list by 2.

In [10]:
lis1= [12,3,4,5,4,7]
lis1 = list(map(lambda x:x*2 , lis1))
lis1

[24, 6, 8, 10, 8, 14]

25. Filter out all even numbers from a list.

In [13]:
lis1= [12,3,4,5,4,7]
even_list = list(filter(lambda x : x%2==0 , lis1))
even_list

[12, 4, 4]

26. Convert a list of strings to a list of integers.

In [14]:
lis2 = ['1','2','3','4','5','6','7']
int_list =list(map(lambda x : int(x), lis2))
int_list

[1, 2, 3, 4, 5, 6, 7]

27. Convert a list of integers to a list of strings.

In [15]:
lis2 = [1, 2, 3, 4, 5, 6, 7]
str_list =list(map(lambda x : str(x), lis2))
str_list

['1', '2', '3', '4', '5', '6', '7']

28. Flatten a nested list.

In [3]:
lis6 = [[1,2,4,5],[2,3,4,5],[3,4,22,11]]
def nested_lis(lis):
    li=[]
    for i in lis:
        for j in i:
            li.append(j)
    return li
nested_lis(lis6)

[1, 2, 4, 5, 2, 3, 4, 5, 3, 4, 22, 11]

29. Create a list of the first 10 Fibonacci numbers.

In [10]:
def fibbonacci_list(n):
    n1 = 0
    n2 = 1
    li =[]
    for i in range(n):
        if i == 0:
            li.append(n1)
        elif i==1:
            li.append(n2)
        else:
            n3 = n1+n2 
            li.append(n3)
            n1=n2
            n2=n3
    return li
fibbonacci_list(11)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

30. Check if a list is sorted.

In [23]:
def check_sorted(lis):
    previous_elem = 0 
    for i in lis: 
        if lis.index(i) == 0:
            continue
        elif lis.index(i) == len(lis)-1:
            break
        elif (lis[lis.index(i)+1]>i>lis[lis.index(i)-1]) or (lis[lis.index(i)+1]<i<lis[lis.index(i)-1]):
            continue

        else:
            return 'list is not sorted'
    return 'list is sorted'


lis7 = [1,2,3,5,6,4,8,7]
lis6 = [9,8,7,6,5,4,3,2,1,0]
check_sorted(lis7)

'list is not sorted'

31. Rotate a list to the left by `n` positions.

In [30]:
lis7 = [1,2,3,4,5,6,7,8,9]
def rotate_lis(lis,n):
    li=[]
    for i in lis[n:]:
            li.append(i)

    for i in lis[:n]:
            li.append(i)
    return li
rotate_lis(lis7,4)

[5, 6, 7, 8, 9, 1, 2, 3, 4]

32. Rotate a list to the right by `n` positions.

In [32]:
lis7 = [1,2,3,4,5,6,7,8,9]
def rotate_right(lis,n):
    li=[]
    for i in lis[-n:]:
            li.append(i)

    for i in lis[:-n]:
            li.append(i)
    return li
rotate_right(lis7,4)

[6, 7, 8, 9, 1, 2, 3, 4, 5]

33. Create a list of prime numbers up to 50.

In [43]:
def prime_no_lis(n):
    li=[]
    for i in range(n+1):
        if i==0 or i==1:
            continue
        elif i==2:
            li.append(i)
            continue
        for j in range(2,i):
            if i%j==0:
                break
        if i%j!=0:
            li.append(i)
    return li
                
prime_no_lis(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [61]:
lis7=[1,2,3,4,5,6,7,8]
def split_chunks(lis,n):
    length = len(lis)
    chunk = int(length/n)
    if (length % 2 == 0) and (n%2==0):
        for i in range(n):
            if i ==0:
                print(lis[:n])
            else:
                print(lis[n:n+n])
    else:
        for i in range(n):
            if i ==0:
                print(lis[:n])
            else:
                print(lis[n:n+n])
split_chunks(lis7,3)

[1, 2, 3]
[4, 5, 6]
[4, 5, 6]

35. Find the second largest number in a list.

In [24]:
lis = [1,2,3,4,7,6,9,8,10,10,12,12]
def second_larges(lis):
    lis.sort(reverse = True)
    maximum = max(lis)
    li=[]
    for i in lis:
        if i == maximum:
            continue
        else:
            li.append(i)
    return li[0]


second_larges(lis)

10

36. Replace every element in a list with its square.

In [32]:
lis = [1,2,3,4,5,6]
square_lis = list(map(lambda x : x**2 , lis))
square_lis

[1, 4, 9, 16, 25, 36]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [33]:
def convert_dict(lis):
        length = len(lis)
        dictinory = {lis[i]:i for i in range(0,length)}
        return dictinory
lis = [1,2,3,4,5,6]
convert_dict(lis)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5}

38. Shuffle the elements of a list randomly.

In [45]:
import random
def shuffle_random(lis):
    random.shuffle(lis)
    return lis


lis = [1,2,3,4]
shuffle_random(lis)

[3, 4, 1, 2]

39. Create a list of the first 10 factorial numbers.

In [54]:
def factorial(n):
    if n<=1:
        return 1
    else:
        return n * factorial(n-1)
factorial_list=  [ factorial(i) for i in range(0,11)] 
factorial_list

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [66]:
def comm_elem(lis1,lis2):
    set1 = set(lis1)
    set2 = set(lis2)
    if set1.intersection(set2)!=set():
        return 'yes there exist at least one common element in the given lists'
    else:
        return 'No there is no common element exist in the given lists'
lis1 = [1,2,3,4,5]
lis2 = [6,7,8,9]
comm_elem(lis1,lis2)

'No there is no common element exist in the given lists'

41. Remove all elements from a list.

In [70]:
lis = [1,2,3,4,5,6,7,88,9]
lis.clear()
lis

[]

42. Replace negative numbers in a list with 0.

In [75]:
lis = [1,2,3,4,-2,5,-6]
for i in range(0,len(lis)) : 
    if lis[i]<0:
        lis[i]=0
    else:
        continue

lis

[1, 2, 3, 4, 0, 5, 0]

43. Convert a string into a list of words.

In [76]:
word_string = 'Hello there how are you all'
list_of_words = word_string.split()
list_of_words

['Hello', 'there', 'how', 'are', 'you', 'all']

44. Convert a list of words into a string.

In [78]:
list_of_words = ['Hello', 'there', 'how', 'are', 'you', 'all']
string_word = ' '.join(list_of_words)
string_word

'Hello there how are you all'

Create a list of the first `n` powers of 2.

In [81]:
n=10
list_n_Power_2 = [ i**2 for i in range(0,n+1)]
list_n_Power_2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

46. Find the longest string in a list of strings.

In [86]:
list_of_words = ['Hello', 'thereis ', 'how', 'are', 'you', 'all']
def longest_string(lis):
    length = 0
    for i in lis:
        if len(i)>length:
            longest = i
            length = len(i)
        else:
             continue
    return longest
longest_string(list_of_words)

'thereis '

47. Find the shortest string in a list of strings.

In [88]:
list_of_words = ['Hello', 'thereis ', 'how', 'are', 'you', 'all']
def shortest_string(lis):
    length = 1000
    for i in lis:
        if len(i)<length:
            shortest = i
            length = len(i)
        else:
             continue
    return shortest
shortest_string(list_of_words)

'how'

48. Create a list of the first `n` triangular numbers.

In [108]:
def triangular_number(n):
    li =[]
    for i in range(1,n+1):
        li.append(sum(range(0,i+1)))
    return li
        
triangular_number(7)

[1, 3, 6, 10, 15, 21, 28]

49. Check if a list contains another list as a subsequence.

In [114]:

def check_nested_list(lis):
    for i in lis:
        if type(i)== list:
            return 'Yes a list contains another list as subsequence'
        else:
            continue
        return 'No  a list contains another list as subsequence'
        
lis=[1,2,3,[2,1,3],4]
check_nested_list(lis)

'Yes a list contains another list as subsequence'

50. Swap two elements in a list by their indices.

In [117]:
lis=[1,2,3,4,5]
a = 2
b = 5
index1=0
index2=0
for i in range(0,len(lis)):
    if lis[i] == a :
        index1 = i
    if lis[i] == b :
        index1 = i
    c = lis[index1]
    lis[index1] = lis[index2]
    lis[index2] = c
lis

[5, 1, 3, 4, 2]

## Tuple Based Problems

1. Create a tuple with integers from 1 to 5.

In [3]:
tple = (1,2,3,4,5)
tple

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [4]:
tple = (1,2,3,4,5)
tple[3]

4

3. Find the length of a tuple without using the `len()` function.

In [5]:
tple = (1,2,3,4,5)
count =0
for i in tple:
    count= count +1;
    
print("length of tuple is ",count)

length of tuple is  5

4. Count the occurrences of an element in a tuple.

In [8]:
tple = (1,2,3,3,4,5)
element =3
occ= tple.count(element)
print(f'Element occured {occ} times')

Element occured 2 times

5. Find the index of the first occurrence of an element in a tuple.

In [10]:
tple = (1,2,3,3,4,5)
element =3
index= tple.index(element)
print(f'Element occured at index {index} ')

Element occured at index 2

6. Check if an element exists in a tuple.

In [12]:
tple = (1,2,3,3,4,5)
def elem_exist(tple,elem):
    li= list(tple)
    if elem in li:
        return 'Element exist'
    else:
        return 'Element does not exist'
elem_exist(tple,6)

'Element does not exist'

7. Convert a tuple to a list.

In [13]:
tple = (1,2,3,3,4,5)
li= list(tple)
li

[1, 2, 3, 3, 4, 5]

8. Convert a list to a tuple.

In [15]:
li = [1, 2, 3, 3, 4, 5]
tple = tuple(li)
tple

(1, 2, 3, 3, 4, 5)

9. Unpack the elements of a tuple into variables.

In [17]:
a,b,c,d = (1,2,3,4)
print(a,b,c,d)

1 2 3 4

10. Create a tuple of even numbers from 1 to 10.

In [20]:
def create_tuple_even(n):
    li =[]
    for i in range(1,n+1):
        if i%2==0:
            li.append(i)
        else:
            continue
    return tuple(li)
create_tuple_even(10)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [21]:
def create_tuple_odd(n):
    li =[]
    for i in range(1,n+1):
        if i%2!=0:
            li.append(i)
        else:
            continue
    return tuple(li)
create_tuple_odd(10)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [26]:
tple3 = [6,7,8,9,10]
tple =[1,2,3,4,5]
concat_tple = tple+tple3
print(f' Concatenation of two tuple is : {concat_tple}')

 Concatenation of two tuple is : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

13. Repeat a tuple three times.

In [28]:
tple = [1,2,3,4,5]
new_tple = tple*3
new_tple

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

14. Check if a tuple is empty.

In [36]:
def is_empty(tple):
    if tple == ():
        return 'Tuple is empty'
    else:
        return 'Tuple is not empty'
tple =(1,2,3)
tple1 =()
is_empty(tple1)

'Tuple is empty'

15. Create a nested tuple.

In [40]:
tple_1 = ((1,2,3,4),(2,3,4),(5,6,7))
tple_1

((1, 2, 3, 4), (2, 3, 4), (5, 6, 7))

16. Access the first element of a nested tuple.

In [44]:
tple_1[0][0]

1

17. Create a tuple with a single element.

In [52]:
new_tple = (3,)
type(new_tple)

tuple

18. Compare two tuples.

In [55]:
tple1 = [1,2,3,45]
tple2 = [1,2,4,56]

print(f' tple1 = tple2 {tple1 == tple2}')
print(f' tple1 != tple2 {tple1 != tple2}')
print(f' tple1 >= tple2 {tple1 >= tple2}')
print(f' tple1 <= tple2 {tple1 <= tple2}')
print(f' len(tple1) = len(tple2) {len(tple1) == len(tple2)}')

 tple1 = tple2 False
 tple1 != tple2 True
 tple1 >= tple2 False
 tple1 <= tple2 True
 len(tple1) = len(tple2) True

19. Delete a tuple.

In [64]:
tple = (1,2,3,4)
del tple
tple

20. Slice a tuple.

In [65]:
tple = (1,2,3,4)
tple[1:4]

(2, 3, 4)

21. Find the maximum value in a tuple.

In [66]:
tple = [1,2,32,43,54,67,55,90]
max(tple)

90

22. Find the minimum value in a tuple.

In [67]:
tple = [1,2,32,43,54,67,55,90]
min(tple)

1

23. Convert a string to a tuple of characters.

In [68]:
string = 'Hello world how are you'
tple = tuple(string)
tple

('H',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'w',
 'o',
 'r',
 'l',
 'd',
 ' ',
 'h',
 'o',
 'w',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'y',
 'o',
 'u')

24. Convert a tuple of characters to a string.

In [70]:
tple = ('H',
 'e',
 'l',
 'l',
 'o',
 ' ',
 'w',
 'o',
 'r',
 'l',
 'd',
 ' ',
 'h',
 'o',
 'w',
 ' ',
 'a',
 'r',
 'e',
 ' ',
 'y',
 'o',
 'u')

string = ''.join(tple)
string

'Hello world how are you'

25. Create a tuple from multiple data types.

In [72]:
lis = [1,2,3,4,5]
sets = {1,2,3,4}
string = 'Hello world'
 
lis_tple = tuple(lis)
print('Tuple from a list is ',lis_tple)
sets_tple = tuple(sets)
print('Tuple from a set is ',sets_tple)
string_tple = tuple(string.split())
print('Tuple from a string is ', string_tple)

Tuple from a list is  (1, 2, 3, 4, 5)
Tuple from a set is  (1, 2, 3, 4)
Tuple from a string is  ('Hello', 'world')

26. Check if two tuples are identical.

In [5]:
tple1 = (1,2,3,4,5)
tple2 = (2,3,4,5,6)
tple3 = (1,2,3,4,5)
def is_identical(tple1,tple2):
    if tple1==tple2:
        return 'Tuples are identical'
    else:
        return 'Not identical'
is_identical(tple1,tple2)

'Not identical'

27. Sort the elements of a tuple.

In [8]:
tple1 = (1,32,3,2,4,2,1,0)
def sort_tuple(tple):
    tple =list(tple)
    tple.sort()
    tple = tuple(tple)
    return tple
sort_tuple(tple1)

(0, 1, 1, 2, 2, 3, 4, 32)

28. Convert a tuple of integers to a tuple of strings.

In [24]:
tuple_of_int = (1,2,3,4,5)

tuple_of_string = tuple((str(i) for i in tuple_of_int))
tuple_of_string

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [25]:
tuple_of_string = ('1', '2', '3', '4', '5')

tuple_of_int = tuple((int(i) for i in tuple_of_int))
tuple_of_int

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [27]:
tple2 = (1,2,3,4,5)
tple2 = (6,7,8,9)
print(f'Merged tple1 & tple2 : {tple1+tple2}')

Merged tple1 & tple2 : (1, 32, 3, 2, 4, 2, 1, 0, 6, 7, 8, 9)

31. Flatten a nested tuple.

In [32]:
def flatten_tuple(tple):
    lis = []
    for i in tple:
        li = list(i)
        for item in li:
            lis.append(item)
    return tuple(lis)
tple1 = ((1,2,3),(4,5,6),(7,8,9))
flatten_tuple(tple1)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [40]:
def prime_no(n):
    li = []
    for i in range(0,n+1):
        if i == 0 or i==1 or i==2:
            li.append(i)
            continue
        for j in range(2,i):
            if i%j!= 0:
                continue
            else:
                break
        if j == i-1:
            li.append(i)
    return tuple(li)

prime_no(20)

(0, 1, 2, 3, 5, 7, 11, 13, 17, 19)

33. Check if a tuple is a palindrome.

In [47]:
tple1 = (1,2,3,4,3,2,1)
rev_tple  = tple1[::-1]
if rev_tple == tple1:
    print('Yes given tuple is a palindrone')
else:
    print('No given tuple is not a palindrone')

Yes given tuple is a palindrone

34. Create a tuple of squares of numbers from 1 to 5.

In [49]:
tple1 = ( i for i in range(1,6))

tple = tuple(map(lambda x : x**2,tple1))
tple

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [51]:
tple = ( i for i in range(1,20))
even_no = tuple(filter(lambda x: x%2==0,tple))
even_no

(2, 4, 6, 8, 10, 12, 14, 16, 18)

36. Multiply all elements in a tuple by 2.

In [52]:
tple1 = ( i for i in range(1,6))

tple = tuple(map(lambda x : x*2,tple1))
tple

(2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [56]:
import random 
def random_tple(n):
    li = []
    for i in range(0,n):
        li.append(random.random())
    return tuple(li)
random_tple(5)

(0.8884014610997081,
 0.12901060349672144,
 0.3448615675334984,
 0.13103182706539718,
 0.5722423902740631)

38. Check if a tuple is sorted.

In [66]:
tple2 = (1,2,3,8,5)
tple1 = (9,8,7,6)
def is_sorted(tple):
    for i in range(0,len(tple)-1):
        if i == 0:
            continue
        elif tple[i-1]<tple[i]<tple[i+1]:
             continue
        elif  tple[i-1]>tple[i]>tple[i+1]:
            continue
        else:
            return 'Tuple is not sorted'
    return 'Tuple is sorted'
is_sorted(tple1)

'Tuple is sorted'

39. Rotate a tuple to the left by `n` positions.

In [1]:
tple =  [1,2,3,4,5,6]
def rotate_tuple(tple,n):
     return tple[n:] + tple[:n]
rotate_tuple(tple,3)

[4, 5, 6, 1, 2, 3]

40. Rotate a tuple to the right by `n` positions.

In [3]:
tple =  [1,2,3,4,5,6]
def rotate_tuple_right(tple,n):
     return tple[-n:] + tple[-n:]
rotate_tuple_right(tple,3)

[4, 5, 6, 4, 5, 6]

41. Create a tuple of the first 5 Fibonacci numbers.

In [8]:
def fibbonacci(n):
    li=[]
    for i in range(0,n):
        if i == 0 or i ==1:
            li.append(i)
        else:
            next_number = li[i-1]+li[i-2]
            li.append(next_number)
    return tuple(li)
fibbonacci(5)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [17]:
str_tple = input("Enter integer elements for a tuple")
str_tple = str_tple.split()
new_tple = tuple((int(i) for i in str_tple))
new_tple

Enter elements for a tuple 1 23 45 6 7

(1, 23, 45, 6, 7)

43. Swap two elements in a tuple.

In [26]:
tple = (1,2,3,4,5,6)
def swap_in_tuple(tple,n1,n2):
    '''
    This function takes three argument 
    1. tuple 
    2.index 1  and index 2 to swap elements
    '''
    tple = list(tple)
    a = tple[n1]
    tple[n1] = tple[n2]
    tple[n2] = a
    swap_tple = tuple(tple)
    return swap_tple    
swap_in_tuple(tple,3,4)

(1, 2, 3, 5, 4, 6)

44. Reverse the elements of a tuple.

In [28]:
tple = (1,2,3,4,5)
rev_tple = tple[::-1]
rev_tple

(5, 4, 3, 2, 1)

 45. Create a tuple of the first `n` powers of 2.

In [29]:
def tuple_pow_2(n):
    li = []
    for i in range(1,n+1):
        li.append(i**2)
    return tuple(li)
tuple_pow_2(5)

(1, 4, 9, 16, 25)

46. Find the longest string in a tuple of strings.

In [38]:
str_tuple = ('Hello','World','Pwskills')
def longest_str(tple):
    length = 0
    for i in tple:
        if len(i)>length:
            length = len(i)
            longest_string = i
        else:
            continue
    return longest_string
   
longest_str(str_tuple)

'Pwskills'

47. Find the shortest string in a tuple of strings.

In [39]:
str_tuple = ('Hello','World','Pwskills')
def shortest_str(tple):
    length = 1000
    for i in tple:
        if len(i)<length:
            length = len(i)
            shortest_string = i
        else:
            continue
    return shortest_string
   
shortest_str(str_tuple)

'Hello'

48. Create a tuple of the first `n` triangular numbers.

In [46]:
def triangular_numbers(n):
    li = []
    for i in range (1,n):
        if i == 1:
            li.append(i)
        else:
            new_li = list([i for i in range(1,i+1)])
            li.append(sum(new_li))
    return tuple(li)
triangular_numbers(10)

(1, 3, 6, 10, 15, 21, 28, 36, 45)

49. Check if a tuple contains another tuple as a subsequence.

In [50]:
tple = (1,2,3,5)
tple2 = (1,2,3,4,5,6,(1,2,3),(1,2,3))
def check_tuple_contain_tuple(tple):
    for i in tple:
        if type(i) == tuple:
            return 'Yes it contain another tuple as a subsequence'
        else:
            continue
    return 'No it does not contain another tuple as a subsequence'
check_tuple_contain_tuple(tple2)

'Yes it contain another tuple as a subsequence'

50. Create a tuple of alternating 1s and 0s of length `n`.

In [51]:
def tuple_creation(n):
    li = []
    for i in range(0,n):
        if i%2==0:
            li.append(1)
        else:
            li.append(0)
    return tuple(li)
tuple_creation(10)

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

# SET Based Problems

1. Create a set with integers from 1 to 5.

In [1]:
int_set = { 1,2,3,4,5}
print('Set of integers 1 to 5 is :', int_set)

Set of integers 1 to 5 is : {1, 2, 3, 4, 5}

2. Add an element to a set.

In [2]:
int_set

{1, 2, 3, 4, 5}

In [4]:
element= 34
int_set.add(element)
int_set

{1, 2, 3, 4, 5, 34}

3. Remove an element from a set.

In [16]:
int_set = {1,2,3,4,5,6}

In [17]:
element
int_set.remove(element)
int_set

{1, 2, 4, 5, 6}

4. Check if an element exists in a set.

In [18]:
s = {1,2,3,4,5,6}
def check_exists(s,element):
    for i in s: 
        if i == element:
            return 'Element exists'
        else:
            continue
    return 'element does not exists'
check_exists(s,2)

'Element exists'

5. Find the length of a set without using the `len()` function.

In [20]:
def find_len(s):
    length = 0
    for i in s:
        length = length +1
    return length
s = {1,2,3,4,5,6}
find_len(s)

6

6. Clear all elements from a set.

In [22]:
s = {1,2,3,4,5,6}
s.clear()
print(s)

set()

7. Create a set of even numbers from 1 to 10.

In [30]:
def even_set(n):
    s = set({})
    for i in range(1,n+1):
        if i%2==0:
            s.add(i)
        else:
            continue
    return s
even_set(10)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [31]:
def odd_set(n):
    s = set({})
    for i in range(1,n+1):
        if i%2==0:
            continue
        else:
             s.add(i)
    return s
odd_set(10)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [34]:
s1 = {1,2,3,4}
s2 = {5,6,7,8}
union_set = s1.union(s2)
print('union set is : ', union_set)

union set is :  {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [39]:
s1 = {1,2,3,4}
s2 = {5,6,7,8,3,4}
s1.intersection_update(s2)
print('Intersection b/w s1 and s2 is: ',s1)

Intersection b/w s1 and s2 is:  {3, 4}

11. Find the difference between two sets.

In [40]:
s1 = {1,2,3,4}
s2 = {5,6,7,8,3,4}
diff = s1.difference(s2)
print('Difference b/w s1 and s2 is : ', diff)

Difference b/w s1 and s2 is :  {1, 2}

12. Check if a set is a subset of another set.

In [43]:
s1 = {1,2,3,4}
s2 = {5,6,7,8,3,4}
s3 = {1,2,3,4,5,6,7,8,9}
def check_subset(s1,s2):
    if s1.issubset(s2):
        return True
    else:
        return False
check_subset(s1,s2)

False

13. Check if a set is a superset of another set.

In [44]:
s1 = {1,2,3,4}
s2 = {5,6,7,8,3,4}
s3 = {1,2,3,4,5,6,7,8,9}
def check_superset(s1,s2):
    if s1.issuperset(s2):
        return True
    else:
        return False
check_superset(s3,s1)

True

14. Create a set from a list.

In [48]:
l = [1,2,3,4,5]
def create_set(s):
    s = set(l)
    return s
create_set(l)

{1, 2, 3, 4, 5}

15. Convert a set to a list.

In [49]:
s = {1,2,3,4,5,6}
def create_list(s):
    l = list(s)
    return l
create_list(s)

[1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [60]:
import random
s = {1,2,3,4,5,6,7}
def remove_random(s):
    l = list(s)
    random.shuffle(l)
    return set(l[1:])
remove_random(s)

{1, 2, 3, 4, 5, 7}

17. Pop an element from a set.

In [63]:
s = { 1,2,3,4,5,6}
def pop_element(s):
    s.pop()
    return s
pop_element(s)

{2, 3, 4, 5, 6}

18. Check if two sets have no elements in common.

In [80]:
s1 = {1,2,3,4}
s2 = {5,6,7,8,4,5}
def check_no_elem_common(s1,s2):
    if s1.intersection(s2) == set():
        return True
    else:
        return False

check_no_elem_common(s1,s2)

False

19. Find the symmetric difference between two sets.

In [81]:
s1 = {1,2,3,4}
s2 = {5,6,7,8,4,5}
def symm_diff(s1,s2):
    return s1.symmetric_difference(s2)
symm_diff(s1,s2)

{1, 2, 3, 5, 6, 7, 8}

20. Update a set with elements from another set.

In [85]:
s1 = {1,2,3,4}
s2 = {5,6,7,8,4,5}
s1.update(s2)
s1

{1, 2, 3, 4, 5, 6, 7, 8}

21. Create a set of the first 5 prime numbers.

In [91]:
def first_prime_no(n):
    s = set()
    for i in range (2,100):
        is_prime = True
        for j in range(2,i):
            if i%j==0:
                is_prime = False
        if is_prime == True and len(s)<6:
            s.add(i)
    return s
        


first_prime_no(5)

{2, 3, 5, 7, 11, 13}

22. Check if two sets are identical.

In [99]:
def check_identical(s1,s2):
    if s1.symmetric_difference(s2) == set():
        return True
    else:
        return False
s1 = {1,2,3,4,5}
s2 = {1,2,3,4,5}
check_identical(s1,s2)

True

23. Create a frozen set.

In [100]:
l = [1,2,3,4,5]
fr_set = frozenset(l)
fr_set

frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [106]:
s1 = {1,2,3,4,5,6}
s2 = {4,5,6,7,8}
s3 = {7,8,9}
def check_disjoint(s1,s2):
    return s1.isdisjoint(s2)
check_disjoint(s1,s3)

True

25. Create a set of squares of numbers from 1 to 5.

In [108]:
def square_no_set(n):
    s = set()
    for i in range(1,n+1):
         s.add(i**2)
    return s
square_no_set(5)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [109]:
s = {1,2,3,4,5,6,7,8,9,10}
find_even= set(filter(lambda x : x%2==0,s))
find_even

{2, 4, 6, 8, 10}

27. Multiply all elements in a set by 2.

In [110]:
s = {1,2,3,4,5,6,7,8,9,10}
mul_two = set(map(lambda x : x*2 , s))
mul_two

{2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

28. Create a set of random numbers.

In [113]:
def random_set():
    s= set()
    for i in range(1,10):
        s.add(random.randrange(1,1000))
    return s
random_set()

{434, 455, 721, 828, 841, 846, 898, 903}

29. Check if a set is empty.

In [115]:
def check_empty(s):
    if s == set():
        return True
    else:
        return False
s1 = set({})
s2 = {1,2,3}
check_empty(s2)

False

30. Create a nested set (hint: use frozenset).

In [124]:
s1 = frozenset({1,2,3,4,5})
s2 = frozenset({2,3,4,4,5})
nested_one = {s1,s2}
print(nested_one)

{frozenset({1, 2, 3, 4, 5}), frozenset({2, 3, 4, 5})}

31. Remove an element from a set using the discard method.

In [127]:
s = {1,2,3,4,5,6,7}
s.discard(7)
print(s)

{1, 2, 3, 4, 5, 6}

32. Compare two sets.

In [130]:
s1 = {1,2,3,4,5,6}
s2 = {2,3,4,5,6,7}

print('s1 is subset of s2 ', s1.issubset(s2))
print('s1 is superset of s2 ', s1.issuperset(s2))
print('s1 is  is identical s2 ', s1.symmetric_difference(s2)==0)
print('s1 is disjoint of s2 ', s1.isdisjoint(s2))

s1 is subset of s2  False
s1 is superset of s2  False
s1 is  is identical s2  False
s1 is disjoint of s2  False

33. Create a set from a string.

In [135]:
st = 'pwskills is an online platform '
s = set(st.split())
print(s)

{'platform', 'online', 'pwskills', 'an', 'is'}

34. Convert a set of strings to a set of integers.

In [136]:
string_set = {'1','2','3','4'}
int_set = set(map(lambda x : int(x), string_set))
int_set

{1, 2, 3, 4}

35. Convert a set of integers to a set of strings.

In [137]:
s1 = {1, 2, 3, 4}
string_set = set(map(lambda x : str(x), s1))
string_set

{'1', '2', '3', '4'}

36. Create a set from a tuple.

In [139]:
tple = (1,2,3,4,5)
s = set(tple)
s

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [140]:
s = {1, 2, 3, 4, 5}
tple = tuple(s)
tple

(1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [141]:
s = {1,2,3,4,5,6,7}
max(s)

7

39. Find the minimum value in a set.

In [142]:
s = {1,2,3,4,5,6,7}
min(s)

1

40. Create a set from user input.

In [144]:
usr_input = input('Enter integers by giving space')
s = set(usr_input.split())
print(s)

Enter integers by giving space 1 2 3 4 5

{'1', '3', '4', '5', '2'}

41. Check if the intersection of two sets is empty.

In [146]:
def check_empty_intersection(s1,s2):
    if s1.intersection(s2) == set():
        return True
    else:
        return False
s1 = {1,2,3,4,5}
s2 = {6,7,8,9,10}
s3 = {1,2,4,5,9,0}
check_empty_intersection(s1,s3)

False

42. Create a set of the first 5 Fibonacci numbers.

In [150]:
def fibonacci(n):
    s = []
    for i in range(n+1):
        if i==0 or i==1:
            s.append(i)
        else:
            next_number = s[i-1]+s[i-2]
            s.append(next_number)
    return set(s)
fibonacci(5)

{0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [152]:
def rem_dup(l):
    s = set(l)
    return list(s)
l = [1,2,2,2,2,3,4,4,4,5,5,6,6,6]
rem_dup(l)

[1, 2, 3, 4, 5, 6]

44. Check if two sets have the same elements, regardless of their count.

In [156]:
def same_element(s1,s2):
    if s1.symmetric_difference(s2) ==set():
        return True
    else:
        return False
s1 = {1,2,3,2,1,3}
s2={1,2,3}
same_element(s1,s2)

False

45. Create a set of the first `n` powers of 2.

In [157]:
def n_pow_two(n):
    s = set()
    for i in range(n+1):
        s.add(i**2)
    return s
n_pow_two(10)

{0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

46. Find the common elements between a set and a list.

In [158]:
l = [1,2,3,4,5,6,7,8]
s = {1,2,4,7,8,0}
def comm_elem(s,l):
    l = set(l)
    return s.intersection(l)
comm_elem(s,l)

{1, 2, 4, 7, 8}

47. Create a set of the first `n` triangular numbers.

In [160]:
def triangular_number(n):
    s = set()
    for i in range(1,n+1):
        if i == 1:
            s.add(i)
        else:
            next_number = sum(range(1,i))
            s.add(next_number)
    return s
triangular_number(10)

{1, 3, 6, 10, 15, 21, 28, 36, 45}

48. Check if a set contains another set as a subset.

In [171]:
def check_nested_set(s1,s2):
    for i in s:
        if s1.issubset(s2):
            return True
        else:
             return False

s1={1,2,34,4}
s2= {1,2,3,4,5,6,7,34}
check_nested_set(s1,s2)

True

49. Create a set of alternating 1s and 0s of length `n`.

In [169]:
def altering_0_1(n):
    s = set()
    for i in range(n+1):
        if i%2==0:
            s.add(1)
        else:
            s.add(0)
    return s
altering_0_1(10)

{0, 1}

50. Merge multiple sets into one.

In [178]:
def merge_set(s1,s2,s3):
    s1.update(s2,s3)
    return s1
s1= {1,2,3}
s2 = {3,4,5}
s3 = {4,5,6}
merge_set(s1,s2,s3)

{1, 2, 3, 4, 5, 6}